nav {
	margin-top:10px;
}

nav img {
	float:left;
	height:25px;
}

#wrapper {
	width:1200px;
	margin:0px auto;
	padding:0px;
}

textarea {
	width:600px;
	height:400px;
}

div.controls input {
	width:700px;
}

h5 {
	margin:0px 0px 0px 0px;
	color:#252259;
}

h2 {
	margin:10px 0px 0px 0px;
	color:#08C;
}

p {
	margin:15px 0px 0px 0px;
}

p {
	color:#124A33;
}]

h3 {
	line-height:15px;
}